<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmd.dao.CityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mmd.entity.City">
        <id column="id" property="id"/>
        <result column="mc" property="mc"/>
        <result column="ms" property="ms"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, mc, ms
    </sql>
    <select id="findCityById" resultType="java.lang.Integer">

    </select>

    <select id="selectByCityId" parameterType="java.lang.String" resultType="com.mmd.entity.City">
        SELECT id,ms,mc
        FROM fyt_city
        WHERE id= #{id}
    </select>

</mapper>
