<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmd.dao.PromotionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mmd.entity.Promotion">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="discount" property="discount" />
        <result column="times" property="times" />
        <result column="count" property="count" />
        <result column="restcount" property="restcount" />
        <result column="isnew" property="isnew" />
        <result column="begintime" property="begintime" />
        <result column="endtime" property="endtime" />
        <result column="status" property="status" />
        <result column="createtime" property="createtime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, discount, times, count, restcount, isnew, begintime, endtime, status, createtime
    </sql>
    <select id="findOnSalePromotionByPid" resultType="com.mmd.entity.Promotion">
        select * from fyt_promotion where status='y' and restcount>0 and begintime&lt;=unix_timestamp(now()) and endtime>=unix_timestamp(now()) and pid=#{pid} order by id desc limit 1
    </select>
</mapper>
